<!-- <p>h-dash works!</p>
<app-h-upload></app-h-upload>
<app-u-record-request-access></app-u-record-request-access>

<h1>with access</h1>
<app-h-view-with-access></app-h-view-with-access> -->
<h1>Hospital Dashboard</h1>
<mat-tab-group>
  <mat-tab label="Upload User Records">
    <app-h-upload> </app-h-upload>
  </mat-tab>
  <mat-tab label="Request Record Access">
    <app-u-record-request-access> </app-u-record-request-access>
  </mat-tab>
  <mat-tab label="View and Download Records with access">
    <app-h-view-with-access> </app-h-view-with-access>
  </mat-tab>
</mat-tab-group>
