<mat-card>
  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input matInput type="text" [(ngModel)]="phone" />
  </mat-form-field>
  <br />
  <button mat-raised-button (click)="fetchUserRecords(phone)">FIND</button>

  <div *ngIf="data">
    <div *ngFor="let a of data">
      <mat-card>
        <mat-grid-list cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <h3>
              {{ a.data.name }}
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            {{ toDateTime(a.data.date._seconds) }}
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <button mat-raised-button (click)="requestAccess(a.id)">
              REQUEST ACCESS
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                preview
              </mat-icon>
            </button>
          </mat-grid-tile>
          <!-- <mat-grid-tile>4</mat-grid-tile> -->
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</mat-card>
